@media only screen and (min-width: 1200px) {

  div#data-table{
    overflow-y: none !important;
  }
  
}
  
@media only screen and (max-width: 1199px) {

  div#data-table{
    overflow-y: auto !important;
  }

}

.cart-yellow{
  color: rgb(177, 140, 26) !important;
}